/* .main__btn {
  border: none;
  border-radius: 12px;
  background-color: dimgray;
  color: antiquewhite;
  padding: 60px 80px;
  margin: 80px 80px;
  font-size: 40px;
}

.main__btn:hover,
.main__btn:focus {
  border-radius: 50%;
  background-color: antiquewhite;
  color: brown;
} */

/* .text {
  color: orange;
  font-size: 50px;
}

.text-input {
  color: rgb(0, 94, 255);
  font-size: 30px;
  background-color: beige;
  border-color: blueviolet;
}

li {
  list-style: none;
  margin-right: 15px;
}

h2 {
  font-size: 30px;
  color: darkslategray;
}
.img {
  width: 300px;
  height: 200px;
  border: 2px solid rgb(108, 157, 191);
  border-radius: 10px;

  box-shadow: 10px 10px 5px 1px rgba(150, 187, 200, 0.75);
}

.box {
  width: 100px;
  height: 100px;
  background-color: cyan;
  border: 2px solid rgb(17, 17, 16);
  border-radius: 30px;
} */

/* ?модуль 7-1 ХРЕСТИКИ-НОЛИКИ */

/* .container {
  display: flex;
  margin: 100px 50px 50px 50px;
}

.content {
  width: 156px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 200px;
}

.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.1s;
}

.item:hover {
  background-color: rgb(199, 216, 234);
}

#parent,
#child,
#descendant {
  margin: 16px;
  padding: 16px;
  border: 4px solid #212121;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#parent {
  background-color: #673ab7;
}

#child {
  background-color: #448aff;
}

#descendant {
  background-color: #ff9800;
} */
/* end */

/* ? 9-1 модуль інтервал */
/* .js-spam {
  font-size: 30px;
  font-weight: 600;
  
  padding: 30px;
  margin-top: 50px;
  width: 400px;
}

.js-test {
  padding: 20px;
  margin: 20px 30px;
  font-weight: 600;
} */

/* ? CLOCK */
/* body {
  background-image: url(./../img/6231375.jpg);
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .clock {
  width: 550px;
  height: 550px;
  background-image: url(https://i.ibb.co/dBGxSK1/hiclipart-com-3.png);
  background-color: rgba(237, 235, 235, 0.387);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  
  margin: 0 auto;
}
.clock-arrow {
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 5px 5px 5px rgba(231, 225, 225, 0.593);
}
.clock-center {
  position: absolute;
  background-color: black;
  top: 268px;
  left: 268px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.clock-seconds__arrow {
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 40%;
}
.clock-minutes__arrow {
  bottom: 50%;
  left: 50%;
  width: 7px;
  height: 33%;
}
.clock-hours__arrow {
  bottom: 50%;
  left: 50%;
  width: 12px;
  height: 24%;
}
.date {
  width: 100px;
  height: 100px;
  color: black;
}
.calendar {
  display: flex;
  justify-content: space-evenly;

  padding-top: 60px;
}
.date-style {
  display: flex;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 3px 3px 2px #cecbcd;
}
.digital-clock {
  text-align: center;
  font-size: 80px;
  text-shadow: 3px 3px 2px #cecbcd;
  font-weight: 900;
  border-top: dashed rgb(136, 246, 250);
} */

/* ? 10-2 modul Lord of the rings */

ul {
  list-style: none;
}

li {
  border: 2px solid rgb(224, 124, 47);
  margin-top: 20px;
  width: 200px;
  padding-left: 10px;
}