/* .main__btn {
  border: none;
  border-radius: 12px;
  background-color: dimgray;
  color: antiquewhite;
  padding: 60px 80px;
  margin: 80px 80px;
  font-size: 40px;
}

.main__btn:hover,
.main__btn:focus {
  border-radius: 50%;
  background-color: antiquewhite;
  color: brown;
} */

.text {
  color: orange;
  font-size: 50px;
}

.text-input {
  color: rgb(0, 94, 255);
  font-size: 30px;
  background-color: beige;
  border-color: blueviolet;
}

li {
  list-style: none;
  margin-right: 15px;
}

h2 {
  font-size: 30px;
  color: darkslategray;
}
.img {
  width: 300px;
  height: 200px;
  border: 2px solid rgb(108, 157, 191);
  border-radius: 10px;

  box-shadow: 10px 10px 5px 1px rgba(150, 187, 200, 0.75);
}

.box {
  width: 100px;
  height: 100px;
  background-color: cyan;
  border: 2px solid rgb(17, 17, 16);
  border-radius: 30px;
}
